@use "lkt-layouts-config";
@use "node_modules/lkt-scss/src/lkt-layout";

%grid-modifiers {

  &.gap {
    gap: lkt-layouts-config.$gap;
  }

  &.pad {
    padding: lkt-layouts-config.$gap;
  }

  &.h-pad {
    padding: 0 lkt-layouts-config.$gap;
  }

  &.v-pad {
    padding: lkt-layouts-config.$gap 0;
  }
}

@mixin generate() {
  .grid-1 {
    width: 100%;
    @include lkt-layout.mobile-first-breaks(1, ());
    @extend %grid-modifiers;
  }
  .grid-2 {
    width: 100%;
    @include lkt-layout.mobile-first-breaks(1, (640px: 2));
    @extend %grid-modifiers;
  }
  .grid-3 {
    width: 100%;
    @include lkt-layout.mobile-first-breaks(1, (640px: 3));
    @extend %grid-modifiers;
  }
  .grid-4 {
    width: 100%;
    @include lkt-layout.mobile-first-breaks(1, (640px: 4));
    @extend %grid-modifiers;
  }
  .grid-5 {
    width: 100%;
    @include lkt-layout.mobile-first-breaks(1, (640px: 5));
    @extend %grid-modifiers;
  }

  @each $n in lkt-layouts-config.$pads {
    .pad-#{$n} {
      padding: $n * 1px;
    }
    .h-pad-#{$n} {
      padding: 0 $n * 1px;
    }
    .v-pad-#{$n} {
      padding: $n * 1px 0;
    }
  }

  @each $n in lkt-layouts-config.$gaps {
    .gap-#{$n} {
      gap: $n * 1px;
    }
  }
}