.lkt-grid-1 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (2 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-3 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (3 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-4 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (4 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-5 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (5 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-6 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (6 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-7 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (7 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-8 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (8 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-9 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (9 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-10 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (10 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-11 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (11 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}

.lkt-grid-12 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100% / (12 + 1) + 0.1%, (var(--breakpoint-sm) - 100vw) * 1000, 100% / (1 + 1) + 0.1%), 1fr));
    gap: var(--gap);
    align-content: baseline;
}