$min-height: 200px !default;
$gap: 15px !default;
$gaps: (5, 10, 15, 20) !default;
$pads: (5, 10, 15, 20) !default;

@mixin configure($opts: ()) {
  @if map-get($opts, min-height) {
    $min-height: map-get($opts, min-height) !global;
  }
  @if map-get($opts, gap) {
    $gap: map-get($opts, gap) !global;
  }
  @if map-get($opts, gaps) {
    $gaps: map-get($opts, gaps) !global;
  }
  @if map-get($opts, pads) {
    $pads: map-get($opts, pads) !global;
  }
}