<template>
<div data-lkt="flex-row"><slot></slot></div>
</template>

<script lang="ts">
export default {
    name: "LktFlexRow",
    props: {
        vertical: {type: String, default: 'center'},
        horizontal: {type: String, default: 'flex-start'},
    }
}
</script>