<template>
    <div v-bind:class="selectors" data-lkt="grid"><slot></slot></div>
</template>

<script lang="ts">
import { BoxSpaceCalculator } from "../instances/BoxSpaceCalculator";

export default {
    name: "LktGrid",
    props: {
        cols: {type: [String, Number], default: 1},
        gap: {type: [Boolean, Number], default: false},
        pad: {type: [Boolean, Number], default: false},
        vPad: {type: [Boolean, Number], default: false},
        hPad: {type: [Boolean, Number], default: false},
        space: {type: [Boolean, Number], default: false},
        marginBottom: {type: [Boolean, Number], default: false},
    },
    computed: {
        selectors() {
            let selectors = new BoxSpaceCalculator({
                gap: this.gap,
                pad: this.pad,
                vPad: this.vPad,
                hPad: this.hPad,
                space: this.space,
                marginBottom: this.marginBottom,
            }).selectors();
            selectors.push('grid-' + this.cols);
            return selectors.join(' ');
        }
    }
}
</script>